* {
  box-sizing: border-box;
}

html,
body,
#root {
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  user-select: none !important;
}

.list-container {
  margin: 0;
  display: flex;
  flex: 1;
  overflow-y: scroll;
  user-select: none !important;
  -webkit-user-select: none !important;
}

.list {
  font-family: sans-serif;
  overflow-x: hidden;
  user-select: none !important;
  -webkit-user-select: none !important;
}
